@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

:root {
    --white0: #FFFFFF;
    --white1: #fafafa;
    --white2: #E3E4F1;

    --grey0:  #D1D2DA;
    --grey1:  #C8CBE7;
    --grey2:  #9495A5;
    --grey3:  #767992;

    --blue1:  #3A7CFD;
    --blue2:  #5B5E7E;
    --blue2:  #494C6B;
    --blue3:  #393A4B;
    --blue4:  #4D5067;
    --blue5:  #25273D;
    --blue6:  #171823;

    --light-gradient: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
    --dark-gradient: linear-gradient(135deg, #3710BD 0%, #A42395 100%);

    --light-box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
    --dark-box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
}



/* 
***************************************
        THEMES
***************************************
*/
.light {
    --bg-color: var(--white1);
    --bg-todo-list-color: var(--white0);
    --bg-img: url("./images/bg-desktop-light.jpg");
    --box-shadow: var(--light-box-shadow);
    --border-grid: var(--white3);
    --main-text-color: var(--blue3);
    --main-text-completed-color: var(--grey0); 
    --sub-text-color: var(--grey2);
    --unchecked-icon: var(--white2);
    --filter-color: var(--grey2);
    --filter-current-color: var(--blue1);
    --filter-hover-color: var(--blue2);
    transition: all 0.7s ease-in;
}

.dark {
    --bg-color: var(--blue6);
    --bg-todo-list-color: var(--blue3);
    --bg-img: url("./images/bg-desktop-dark.jpg");
    --box-shadow: var(--dark-box-shadow);
    --border-grid: var(--blue3);
    --main-text-color: var(--grey1);
    --main-text-completed-color: var(--blue4);
    --sub-text-color: var(--blue2);
    --unchecked-icon: var(--white2);
    --filter-color: var(--blue2);
    --filter-current-color: var(--blue1);
    --filter-hover-color: var(--white2);
    transition: all 0.7s ease-out;
}


body {
    background-image: var(--bg-img);
    background-color: var(--bg-color);
    background-size: auto 300px;
    background-repeat: no-repeat;
    background-position: center top;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}



/* 
***************************************
        TO DO CONTAINER
***************************************
*/
.container {
    max-width: 541px;
    margin: auto;
    margin-top: 4.375rem;
}



/* 
**********************************
        TO DO HEADER
********************************** 
*/
header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    min-height: 3rem;
}

header div {
    display: flex;
}

header div:hover {
    display: flex;
}

header img {
    margin: auto;
    cursor: pointer;
}

.hidden {
    display: none;
}

header h1 {
    margin: 0;
    text-transform: uppercase;
    color: var(--white0);
    letter-spacing: 15px;
    font-size: 2.5rem;
} 



/* 
*******************************
        ADD NEW TODO
*******************************
*/
.new-todo_container {
    display: flex;
}

.new-todo_container input {
    width: 100%;
    margin-bottom: 1.5rem;
    min-height: 4rem;
    border-radius: 5px;
    border: none;
    font-size: 1.125rem;
    padding-left: 4.5rem;
    box-shadow: var(--box-shadow);
    background-color: var(--bg-todo-list-color);
    font-family: 'Josefin Sans', sans-serif;
}

.new-todo_container input:focus {
    outline: 0;
    caret-color: var(--blue1);
}



/* 
**************************
        TO DO LIST
**************************
*/
.todo-list_container {
    display: grid;
    grid-auto-flow: row;
    background: var(--white0);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    background-color: var(--bg-todo-list-color);
    color: var(--main-text-color);
}

.todo-elem {
    border-bottom: 1px solid var(--border-grid);
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-elem:hover .remove-icon {
    opacity: 1;
}

.todo-elem span {
    margin-top: 0;
}

.todo-elem p {
    font-weight: 400;
    font-size: 1.125rem;
    color: var(--text-color);
    padding-left: 4.5rem;
}

.completed {
    text-decoration: line-through;
    color: var(--main-text-completed-color);
}

.dragged-on {
    background-color: var(--white2);
}



/* 
***************************************
        TO-DO LIST ICONS
***************************************
*/
.icon {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1.5rem;
    margin-top: 1.25rem;
    border-radius: 50%;
}

.unchecked-icon {
    border: 1px solid var(--unchecked-icon);
}

.unchecked-icon:hover {
    border-color: var(--light-gradient);
}

.checked-icon {
    background-image: url(./images/icon-check.svg),
    linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);;
    background-repeat: no-repeat;
    background-position: center;
}

.remove-icon {
    background-image: url(./images/icon-cross.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1.105rem;
    height: 1.105rem;
    border-radius: 50%;
    margin-right: 1.5rem;
    opacity: 0;
}



/* 
***************************************
        TO DO LIST PARAMETERS
***************************************
*/
.todos-parameters {
    min-height: 3.125rem;
    display: flex;
    justify-content: space-between;
    margin: auto 1.5rem;
    align-items: center;
    font-size: 0.875rem;
    color: var(--sub-text-color);
    font-weight: 700;
    flex-wrap: wrap;
}

.filters {
    display: flex;
    min-width: 166px;
    justify-content: space-between;
}

.filter {
    color: var(--filter-color);
    cursor: pointer;
}

.filter:hover {
    color: var(--filter-hover-color);
}

.current {
    color: var(--filter-current-color);
} 


#clear-list:hover {
    color: var(--filter-hover-color);
    cursor: pointer;
}

/* 
***************************************
        TO DO LIST DIRECTIVES
***************************************
*/
.todo-directives_container p {
    font-size: 0.875rem;
    text-align: center;
    color: var(--sub-text-color);
    margin-top: 2rem;
}



/* 
***************************************
        MEDIA QUERIES
***************************************
*/
@media screen and (max-width: 375px){
    body {
        font-size: 0.2rem;
        background-size: auto 200px;
        margin: 1rem;
    }
    .new-todo_container input {
        font-size: 0.75rem;
    }
    .todo-elem p {
        font-size: 0.75rem;

    }
    header h1 {
        font-size: 2rem;
    }
    .todos-parameters {
        font-size: 0.75rem;
        justify-content: center;
    }
}